<div>
    {{body}}
    <a>Login</a>
    <h1>BoardGame Form</h1>
    <a>Games Page</a>
</div>

<div class="formBox">
<h2>Complete form for game suggestion</h2>
    <form id="gameSeachForm">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" placeholder="Enter game title">

      <label for="age">Age:</label>
      <input type="text" id="age" name="age" placeholder="Enter age">

      <label for="players">Players:</label>
      <input type="text" id="players" name="players" placeholder="Enter number of players">

      <label for="categories">Categories:</label>
      <input type="text" id="categories" name="categories" placeholder="Enter categories">

      <label for="duration">Game Duration:</label>
      <input type="text" id="duration" name="duration" placeholder="Enter game duration">

      <button type="submit">Game Search</button>
    </form>
</div>
        
<section class="container">
    <h3 class="game-title">{{game.title}}</h3>
      <section class="flex-row justify-center">
    {{#each game.title as |title|}}
    <section class="card">
      <a href="/title/{{id}}">
        <header>{{title}}</header>

        <div class="card-body">
          <img src="/images/{{gamename}}" alt="{{description}}">
        </div>
      </a>
    </section>
    {{/each}}
</section>

