<body>
  <div class="formBox">
    <h2>Complete form for game suggestion</h2>
    <form id="gameSeachForm">
      <label for="title">Title:</label>
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Choose your option</option>
          {{#each boardgames}}
            <option value={{this.id}}>{{this.title}}</option>
          {{/each}}
        </select>
      </div>

      {{!-- <label for="age">Age:</label>
      <div class="input-field col s12">
        <select>
        <option value="" disabled selected>Choose your option</option>
        {{#each ages}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <label>Materialize Select</label>
      </div> --}}

      {{!-- <label for="players">Players:</label>
      <div class="input-field col s12">
        <select>
        {{#each players}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <label>Materialize Select</label>
      </div> --}}

      <label for="categories">Categories:</label>
      <div class="input-field col s12">
        <select multiple id="categories" name="categories">
          {{#each categories}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

      {{!-- <label for="duration">Game Duration:</label>
      <div class="input-field col s12">
        <select>
        {{#each durations}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <label>Materialize Select</label>
      </div> --}}

      <button type="submit">Game Search</button>
    </form>
  </div>

  {{!-- <section class="container">
    {{#each games}}
    <section class="card">
      <a href="/title/{{id}}">
        <header>{{title}}</header>
        <div class="card-body">
          <img src="/images/{{gamename}}" alt="{{description}}">
        </div>
      </a>
    </section>
    {{/each}}
  </section> --}}

  <script src="/js/boardgames.js"></script>
</body>
