
<div class="profilePage">
    <form>
    <label for="username">Username:</label>
    <input type="text" id="username" value="{{user.username}}">
    </form>
    <form>
    <label for="currentGame">Current Game:</label>
    <input type="text" id="currentGame" value="{{game.gamename}}">
    </form>
</div>

<container class="playedGames">
    <card id="currentGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
    <card id="lastGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
    <card id="previousGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
</container>

<container class="favoriteGames">
        <card id="currentGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
    <card id="lastGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
    <card id="previousGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
</container>