<div class="profilePage">
    <form>
    <label for="username">Username:</label>
    <input type="text" id="username" value="{{username}}">
    </form>
    <form>
    <label for="currentGame">Current Game:</label>
    <input type="text" id="currentGame" value="{{currentGameTitle}}">
    </form>
</div>

<container class="playedGames">
    <p id="pgheading">Last 3 Games</p>
    <div class="game-container">
        <div class="game-card" id="currentGame">
            <div>
                <p class="game-title">Current Game: {{currentGameTitle}}</p>
                <img src="game-image.jpg" alt="Game Image">
                <a href="/title/{{id}}"></a>
            </div>
        </div>
        <div class="game-card" id="lastGame">
            <div>
                <p class="game-title">Last Game{{gamename}}</p>
                <img src="game-image.jpg" alt="Game Image">
                <a href="/title/{{id}}"></a>
            </div>
        </div>
        <div class="game-card" id="previousGame">
            <div>
                <p class="game-title">Previous Game{{gamename}}</p>
                <img src="game-image.jpg" alt="Game Image">
                <a href="/title/{{id}}"></a>
            </div>
        </div>
    </div>
</container>

<container class="favoriteGames">
        <card id="currentGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
    <card id="lastGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
    <card id="previousGame">
        <div>
            <h3 class="game-title">{{gamename}}</h3>
            <a href="/title/{{id}}"></a>
        </div>
    </card>
</container>

<button id="unclaim-btn">Unclaim Current Game</button>

<script src="/js/profile.js"></script>