{{!< layout}}
<div id="gameAvailable">
    <img src="{{game_image_url}}" alt="Board Game Image">
    <h2>{{Game.title}}</h2>
    <p>Game Availability:</p>
    <p id="description">Game Description</p>
</div>

<section class="gameInfo">
    <container id="gameName">
    <a>{{game_title}}</a>

    </container>
    <div>
    <h3>Stats for {{game_title}}</h3>
    <button id="claimButton">Claim</button> <!-- Add the claim button here -->
    <p id="lenght">Game Duration {{game_lenght}}</p>
    <p id="numPlayer">Amount of Players {{min_player}} {{max_player}}</p>
    <p id="playerAge">Suitable Ages {{min_age}} {{max_age}}</p>
    <p id="category">Game Categories {{game_category}}</p>
    <p id="shop">Available to purchase at {{game_shop}}</p>
    </div>
</section>